<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename ='css/about.css') }}"/>
    </head>
    <body>
        <div class="wrapper">
            <h1>Our Team</h1>
            <div class="team">
              <div class="team_member">
                <div class="team_img">
                  <img src="../static/css/rashmi.jpg" alt="Team_image" class="hello" width="250" height="200">
                </div><br><br><br><br><br>
                <h3>Rashmi Chaudhary</h3>
                <p class="role">Student</p>
                <p>I am a student persuing my BTech(IT) from Banasthali Vidyapith. Learning new technologies is one of my passions. I am very happy to create this project with my other team members. We all got to learn really new things. It was a great experience.</p>
              </div>
              <div class="team_member">
                <div class="team_img">
                  <img src="../static/css/rijul.jpg" alt="Team_image" class="hello" width="250" height="200">
                </div>
                <br><br><br><br><br>
                <h3>Rijul Bhatia</h3>
                <p class="role">Student</p>
                <p>I am a student persuing my BTech(IT) from Banasthali Vidyapith. I am really happy to get this opportunity to create this project with my other team members. We all got to learn really new things. It was a great experience. New technologies and many more things were there to focus on.</p></div>
              <div class="team_member">
                <div class="team_img">
                  <img src="../static/css/shruti.JPG" alt="Team_image" class="hello" width="300" height="300">
                </div>
                <br><br><br><br><br>
                <h3>Shruti Agrawal</h3>
                <p class="role">Student</p>
                <p>I am a student persuing my BTech(CS) from Banasthali Vidyapith. I got this opportunity to create this project. Me and my team members got along really well and got to learn really new things. Through this project we want to let people detect if they are depressed or not. This project has been a great experience. </p></div>
                <div class="team_member">
                  <div class="team_img">
                    <img src="../static/css/srishti.jpg" alt="Team_image" class="hello" width="300" height="300">
                  </div>
                  <br><br><br><br><br>
                <h3>Srishti Mehta</h3>
                <p class="role">Student</p>
                <p>I am a student persuing my BTech(CS) from Banasthali Vidyapith. I got this opportunity to create this project. I got along really well with other members and learnt new things. It was a great experience.</p></div>
              </div>
            </div>
          </div>
    </body>
</html>